#team-info {
    display: grid;
    gap: 15px 20px;
}

.member {
    display: grid;
    column-gap: 10px;
    align-items: center;
}

.team-img {
    width: 8em;
}

@media screen and (min-width: 800px) {
    .member {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: min-content 1fr;
    }

    .instructor {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .team-img {
        grid-row: 1 / 8;
    }
}

@media screen and (min-width: 1300px) {
    #team-info {
        grid-template-columns: 1fr 1fr;
    }
}
