#edit-buttons {
    margin-bottom: 20px;
}

#edit-buttons > button {
    margin: 0 5px;
}

#save, #cancel {
    display: none;
}

.marks-sheet .td:first-child {
    width: 30%;
}

.marks-sheet .td:last-child {
    width: 20%;
}

input[type="number"] {
    padding: 5px;
    max-width: 100px;
}
