{% extends "layout.html" %}
{% block title %}Tests{% endblock %}

{% block main %}
{% filter indent(6, first=True) %}
<h1>Tests</h1>
<section>
  <h2>Midterm</h2>
  <p>
    There will be one midterm.
    The midterm will be 75 minutes in length.
    You should go to either HW215 or HW216 depending on your last name as shown here.
  </p>
  <img id="midterm" alt="Midterm room information" src="{{ url_for('static', filename='files/B20_rooms.jpg')}}">
  <p>
    Preparing for the midterm:
    <ul>
      <li>Understand all parts of A1</li>
      <li>The midterm will cover everything on databases that we did from the start until part way through the week 6 lecture.</li>
    </ul>
    Once you have done some preparation, you can practice on a previous midterm:
    <a href="files/sample.pdf">PDF</a>
  </p>
</section>
{% endfilter %}
{% endblock %}
